body{
    background-color: white;
}
h1{
    display: block;
    font-size: 550%;
    
}

p{
    color: red; 
    text-align: center; 
    margin-top: 20px;
}
.login_background{
    width: 430px;
    height: 150px;
    background-color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 55%;
}
.background .shape{
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
}
form{
    height: 380px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 70%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: rgb(18, 17, 17);
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 10px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input{
    display: block;
    height: 50px;
    width: 95%;
    background-color: rgb(57, 57, 59);
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e8e5;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #121111;
    color: #e9e8ea;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
}


