{% extends "admin.html" %}

{% block content %}
<h1>Disease Suggestions  
    <form class = "bt" action="/create_disease/" method="">
    {% csrf_token %}
        <button type="submit" 
        style="font-size: 18px;
        border: none;
        background: none; 
        cursor: pointer;
        outline: none;">
        <i class="fas fa-plus" 
        style="color: green; 
        font-size: 26px; 
        padding-left: 30px;"></i>
        </button>
    </form>
</h1>
 <div> <br></div>

    <table border= 1 id="table" class="table table-striped table-bordered" style="width:100%; border: 1px solid black;">
        <thead style="background-color: grey; color: white;">
            <tr>
                <th>Disease</th>
                <th>Cause</th>
                <th>Reference</th>
                <th>Remedies</th>
                <th>Status</th>
                <th>Visibility</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th></th>
            </tr>
        </thead>
        <tbody style="text-align: center; border: 1px solid black;">
            {% for disease in disease_data %}
            <tr id="{{ disease.id }}">
                <td>{{ disease.name }}</td>
                <td>{{ disease.cause }}</td>
                <td>{{ disease.reference }}</td>
                <td>{{ disease.remedies }}</td>
                <td>{{ disease.status }}</td>
                <td>{{ disease.visibility }}</td>
                <td>{{ disease.createdAt }}</td>
                <td>{{ disease.updatedAt }}</td>
                <td>
                    <form action="/edit_disease/" method="POST">
                        {% csrf_token %}
                        <input type="text" name="disease_id" value="{{ disease.id }}" hidden >
                        <button type="submit"
                        style="border-radius: 50%; 
                        font-size: 18px;
                        padding-right: 5px
                        text-align: center;
                        border: none;
                        background: none; 
                        cursor: pointer;
                        outline: none;">
                        <i class="fas fa-edit" style="color: blue;"></i></button>
                    </form>
                    <br>
                    <form action="/delete_disease/" method="POST">
                        {% csrf_token %}
                        <input type="text" name="disease_id" value="{{ disease.id }}" hidden >
                        <button type="submit"
                        style="font-size: 18px;
                        border: none;
                        background: none; 
                        cursor: pointer;
                        outline: none;">
                        <i class="fas fa-trash-alt" style="color: red;"></i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot style="background-color: grey; color: white;">
            <tr>
                <tr>
                <th>Disease</th>
                <th>Cause</th>
                <th>Reference</th>
                <th>Remedies</th>
                <th>Status</th>
                <th>Visibility</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th></th>
            </tr>
            </tr>
        </tfoot>
    </table>

{% endblock content %}