{% extends "admin.html" %}

{% block content %}
<div class="form_background">
    <form action="/update_soil/" method="post">
        {% csrf_token %}
        <h1>Soils Data Entry</h1>
        
        {% for soil in soil_data %}
        <input type="hidden" name="soil_id" value="{{ soil.id }}" hidden >
        <div>
        </div>
        <div>
        <label for="soil">Soil Type</label>
        <input type="text" placeholder="" id="soil" name="soil" value="{{ soil.name }}" required >
        </div>
        <div>
        <label for="reference">Reference</label>
        <input type="text" id="reference" name="reference" value="{{ soil.reference }}" required>
        </div>
        <div>
        <label for="procedure">Procedure</label>
        <input type="text" id="procedure" name="procedure" value="{{ soil.procedure }}" required>
        </div>
        <div>
        </div>
        
        <button type="submit"><i class="fa-solid fa-database"></i>Save</button>
        {% endfor %}
    </form>

    
</div>
{% endblock content %}